/* Default */
.flatpickr-monthSelect-month {
    color: #1f2937;
    /* text-gray-800 */
    border-radius: 6px;
    transition: all 0.15s ease;
}

/* Dark mode */
.dark .flatpickr-monthSelect-month {
    color: rgba(255, 255, 255, 0.9);
}

/* Hover */
.flatpickr-monthSelect-month:hover {
    background-color: #f3f4f6;
    /* gray-100 */
}

.dark .flatpickr-monthSelect-month:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

/* Selected */
.flatpickr-monthSelect-month.selected {
    background-color: var(--color-brand-600);
    color: white;
    border-color: var(--color-brand-600);
}