.rok__cta__container{
    padding-top:16px !important;
}

.rok__input__group .rok__input--defaultStyles {
  width: 40px;
  height: 40px;
}

/* tablet & desktop */
@media (min-width: 768px) {
  .rok__input__group .rok__input--defaultStyles {
    width: 56px;
    height: 56px;
  }
}
