/* .rok__cta__container {
  padding-top: 16px !important;
} */

.rok__input__group .rok__input--defaultStyles {
  width: 40px;
  height: 40px;
  font-weight: 600;
  font-size: 20px !important;
  color: var(--color-gray-700);
}

.dark .rok__input--defaultStyles {
  color: white;
}

/* tablet & desktop */
@media (min-width: 768px) {
  .rok__input__group .rok__input--defaultStyles {
    width: 56px;
    height: 56px;
  }
}

.rok__cta__container {
  display: none !important;
}